body {
    font-family: 'Open Sans', sans-serif;
    color:#444;
    background-image: url('img/stadium.jpg');
    background-size: cover;
    background-position: top center;
}

h1, h2, h3, h4 {
    font-family: 'Passion One';
}

h1 {
    font-size: 3em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.8em;
}
h4 {
    font-size: 1.5em;
}

.name-generator-wrapper {
    width: 800px;
    margin: 20px auto;
    padding:20px;
    background-color: #fff;
    border:2px solid #444;
    -webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
}

.generators-container {
    display: flex;
    justify-content: space-evenly;
}